﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');
.navbar {
  margin: 1%;
  padding: 1%;
  text-align: center;
}

.navbar li{
  display: inline;
  margin-right: 50px;
  padding: 3px;
  color: #FF0000;
 font-family: 'Montserrat', sans-serif;
 font-style: bold;
 font-weight: bolder;
font-size: 20px;

}

a{
  text-decoration: none;
  color: #FF0000;
} 
 .photo{
  width: 100%;
}
body{
  margin: 0;
}
.article-name{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
 padding: 20px;
  font-weight: bold;
font-size: 32px;
}
.article{
font-family: 'Montserrat';
font-style: normal;
font-size:  16px;
Line-height: 26px;
font-weight: 400;
text-align: center;
padding: 1%;
margin: 2%;
Letter-spacing: 2.4px;

}

.button{
  margin: 0 auto;
  display: block;
  background-color: #FF0000;
border-color: #FF0000;

  width: 190px;
  height: 50px;
}

.button-text{
  color: white;
  text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-style: normal;
font-size:  12px;
Line-height: 10px;
font-weight: 700;
text-transform: uppercase;
}

.copyright{
  margin-left: 890px;
  margin-bottom: 29px;
  width: 500px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
 font-weight: bold;
font-size: 18px;
Letter-spacing: 2.4px;
margin-top: 4%;
margin-bottom: 1%;
}
